@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body { --bs-body-font-family: 'Lato'; 
background-color: antiquewhite;
}

.active {
text-decoration: underline;
color: #FFD940 !important;
}

.nav-link:hover:not(.active) {
text-decoration: underline;
color: #c0dbeb !important;
}
.nav-link:not(.active) {
color: antiquewhite !important;
}

.container-nav{
    display: flex;
}
.navbar-brand{
    color: antiquewhite !important;
}
.navbar {
    background-color: #2F99DD;
    padding-left: 5%;
    padding-right: 5%;
}

.fab{
    color: antiquewhite !important;
}

.fab:hover{
    color: #c0dbeb !important;
}

/*.navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 1000vw;
    z-index: 998;
    background-color: blue;
}

.nav-item, .navbar-brand, .navbar-toggler{
    z-index: 999;
}*/

.intro-container{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.gallery-container {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #2F99DD;
  color: #2F99DD;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-position: center;
  padding: 0;
  object-fit: cover;
}

.gallery-container .text {
  opacity: 0;
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: antiquewhite;
  pointer-events: none;
  z-index: 4;
  transition: .3s ease-in-out;
}

.gallery-container:hover .text {
    opacity: 1;
}

.gallery-container:hover img {
    opacity: 0.5;
}
.sm-icons-b {
    display: none;
}

@media (max-width: 768px) {
    .grid-container{
    display: block;
    }
    .gallery-container{
        margin-bottom: 3%;
    }
    .sm-icons {
        display: none;
    }
    .sm-icons-b {
        display: flex;
        justify-content: space-aroud;
        flex-direction: row;
    }
}