@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  --bs-body-font-family: 'Lato';
  background-color: antiquewhite;
}

.active {
  text-decoration: underline;
  color: #FFD940 !important;
}

.nav-link:hover:not(.active) {
  text-decoration: underline;
  color: #c0dbeb !important;
}

.nav-link:not(.active) {
  color: antiquewhite !important;
}

.container-nav {
  display: flex;
}

.navbar-brand {
  color: antiquewhite !important;
}

.navbar {
  background-color: #2F99DD;
  padding-left: 5%;
  padding-right: 5%;
}

.fab {
  color: antiquewhite !important;
  font-size: 20px;
}

.fab:hover {
  color: #c0dbeb !important;
}

.form-title1 {
  color: antiquewhite;
  display: inline;
  font-size: 1.5rem;
}

.form-title2 {
  color: #c0dbeb;
  display: inline;
  font-size: 1rem;
}

input {
  width: 100%;
  font-size: 1rem;
}

input[type=text]:focus {
  background-color: #c0dbeb;
}

input[type=email]:focus {
  background-color: #c0dbeb;
}

textarea:focus {
  background-color: #c0dbeb;
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

button[type=submit] {
  background-color: antiquewhite;
  border: none;
  color: #2F99DD;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 12px;
  padding: 12px;
  width: 40%;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

input[type=button]:hover {
  background-color: #93c3df;
  font-size: 2rem;
}

.button-back {
  background-color: #2F99DD;
  border: none;
  color: antiquewhite;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 12px;
  padding: 12px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
} 

.button-back:hover {
  background-color: #93c3df;
}

.bolder {
  font-weight: 900
}

input[type=text] {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  min-height: 8rem;
  font-size: 1rem;
}

/*.navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 1000vw;
    z-index: 998;
    background-color: blue;
}

.nav-item, .navbar-brand, .navbar-toggler{
    z-index: 999;
}*/

.intro-container {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.form-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  background-color: #2F99DD;
  padding: 2%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.gallery-container {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #2F99DD;
  color: #2F99DD;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-position: center;
  padding: 0;
  object-fit: cover;
}

.gallery-container .text {
  opacity: 0;
  position: relative;
  top: 0%;
  right: 50%;
  transform: translate(-50%, 0%);
  color: antiquewhite;
  pointer-events: none;
  z-index: 4;
  transition: .3s ease-in-out;
  padding: 5%;
}

.gallery-container:hover .text {
  opacity: 1;
}

.gallery-container:hover:not(.static) img {
  opacity: 0.5;
}

.sm-icons-b {
  display: none;
}

.gallery-title {
  text-align: center;
  font-size: 3.3vw;
}

.icon-tiny {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 768px) {
  .grid-container {
    display: block;
  }
  .grid-container2 {
    display: block;
  }

  .gallery-container {
    margin-bottom: 3%;
  }

  .sm-icons {
    display: none;
  }

  .sm-icons-b {
    display: flex;
    flex-direction: row;
  }

  .gallery-title {
    font-size: 10vw;
  } 
}